In [4]:
import pandas as pd
import numpy as np
import random
import os

In [17]:
masterDF = pd.DataFrame()

for month in ["01", "02","03","04","05","06","07","08","09","10","11","12"]:
    filepath = f"Data/2019{month}-citibike-tripdata.csv"
    
    df_input = pd.read_csv(filepath, low_memory=False)
    sample = df_input.sample(frac=0.02, random_state=42)
    masterDF = masterDF.append(sample)
    
    print(month)

01
02
03
04
05
06
07
08
09
10
11
12

In [ ]:
masterDF.reset_index(drop=True, inplace=True)

masterDF.to_csv("full2019sample.csv", index=False)

In [16]:
os.path.getsize("full2019sample.csv") / 1000000

190.272775

In [2]:
df = pd.read_csv("Data/201901-citibike-tripdata.csv", low_memory=False)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [3]:
len(df)

967287

In [8]:
os.path.getsize("Data/201901-citibike-tripdata.csv") / 1000000

183.937296

In [9]:
random_state = 42

In [11]:
df_sub = df.sample(frac=.01, random_state=random_state)
df_sub.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
943360,574,2019-01-30 17:30:59.7870,2019-01-30 17:40:34.2530,359.0,E 47 St & Park Ave,40.755103,-73.974987,528.0,2 Ave & E 31 St,40.742909,-73.977061,33216,Subscriber,1993,1
735398,709,2019-01-23 19:28:12.1530,2019-01-23 19:40:01.7030,493.0,W 45 St & 6 Ave,40.756800,-73.982912,3159.0,W 67 St & Broadway,40.774925,-73.982666,16092,Subscriber,1990,1
822038,1993,2019-01-26 18:30:29.2160,2019-01-26 19:03:43.0780,503.0,E 20 St & Park Ave,40.738274,-73.987520,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,34868,Subscriber,1977,1
158049,392,2019-01-05 18:31:40.6190,2019-01-05 18:38:13.1980,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,31405,Subscriber,1996,1
721464,543,2019-01-23 15:24:24.9240,2019-01-23 15:33:28.8630,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,35695,Subscriber,1998,1